<div id="driver_info" class="card">
  <div class="about">
    <h3 class="name"><%= driver.name %></h3>
    <h5 class="phone"><%= driver.phone %></h5>
    <div class="content"><%= driver.vehicle %></div>
  </div>
</div>
