<div class="card">
  <div class="about">
    <h3 class="name"><!-- name --></h3>
    <h5 class="phone"><!-- username --></h5>
    <div class="content"><!-- about description --></div>
  </div>
</div>
