#fb-login {
  color: $fb-color;
}

#google-login {
  color: $google-color;
}

.login-form {
  margin-top: 75px;
}

.login-form h3 {
  font-weight: 600;
  color: #505050;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  margin-top: 10px;
}
